body {
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
    position: relative;
}

.button {
    background-color: rgb(0, 16, 46)!important;
    color: rgb(255, 255, 255)!important;
}


/* header section  */

.heading {
    background-color: rgb(1, 8, 32);
    color: rgb(219, 219, 219);
    box-shadow: 1px 1px 10px rgb(8, 5, 39);
}

.text-color {
    color: rgb(255, 249, 194) !important;
}


/* product card section  */

#all-products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* border: 1px solid black; */
    text-align: center;
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.product {
    height: 32rem;
    margin: 5px;
    padding: 5px;
}

.image-div {
    height: 12rem;
}

.title {
    height: 4rem;
    padding: 0px 10px;
}

.single-product {
    /* padding: 10px; */
    transition: 0.6s;
    /* height: 100%; */
    border-radius: 10px;
}

.single-product:hover {
    box-shadow: 4px 4px 7px gray;
    border-radius: 10px;
    border: .2px solid rgb(71, 200, 251);
}

.product-image {
    width: 150px;
    height: 150px;
}


/* ratting section  */

.rating-div {
    transition: 0.6s;
    border-top: 1px solid rgb(219, 219, 219);
}

.single-product:hover .rating-div {
    border-top: 1px solid rgb(71, 200, 251);
}

.rating {
    margin: 0;
}

.rating span {
    font-size: 18px;
    color: rgb(255, 108, 108);
}

.customer {
    font-size: 20px;
    color: rgb(255, 121, 121);
}

.customer span {
    font-size: 12px;
    color: rgb(8, 8, 8);
}


/* side navigation cart section  */

.cart {
    width: 350px;
    /* border: 1px solid green; */
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
}

.cart-main {
    padding-right: 30px;
}


/* responsive section  */

@media only screen and (max-width: 768px) {
    #all-products {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .cart {
        width: 300px;
        /* border: 1px solid green; */
        padding: 10px;
        box-shadow: 10px 10px 20px gray;
        border-radius: 5px;
        margin-right: 30px;
        position: fixed;
    }
    .cart-main {
        padding-right: 10px;
    }
}

@media only screen and (max-width: 468px) {
    #all-products {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}