body {
    background-color: #ffd5cd !important;
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
    position: relative;
}

.button {
    background-color: rgb(0, 16, 46)!important;
    color: rgb(255, 255, 255)!important;
}


/* header section  */

.heading {
    background-color: rgb(1, 8, 32);
    color: rgb(219, 219, 219);
    box-shadow: 1px 1px 10px rgb(8, 5, 39);
}

.text-color {
    color: rgb(255, 249, 194) !important;
}

.text-color1 {
    color: #ebffcb !important;
}

.text-pink {
    color: rgb(255, 108, 108);
}


/* search input filed  */

.width-size {
    width: 40% !important;
}


/* product card section  */

#all-products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* border: 1px solid black; */
    text-align: center;
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.product {
    height: 32rem;
    margin: 5px;
    padding: 5px;
}

.image-div {
    height: 12rem;
}

.title {
    height: 4rem;
    padding: 0px 10px;
}

.single-product {
    background-color: #FAE8E5 !important;
    /* padding: 10px; */
    transition: 0.6s;
    /* height: 100%; */
    border-radius: 10px;
    overflow: hidden;
}

.single-product:hover {
    box-shadow: 4px 4px 7px gray;
    border-radius: 10px;
    border: .2px solid rgb(71, 200, 251);
    overflow: hidden;
}

.image-div {
    border-radius: 10px;
    border: 1px solid rgb(170, 170, 170);
    margin: 20px 45px;
    background-color: white !important;
    transition: 0.6s;
}

.single-product:hover .image-div {
    border: .2px solid rgb(71, 200, 251);
}


/* ratting section  */

.rating-div {
    transition: 0.6s;
    border-top: 1px solid rgb(219, 219, 219);
}

.single-product:hover .rating-div {
    border-top: 1px solid rgb(71, 200, 251);
}

.rating {
    margin: 0;
}

.rating span {
    font-size: 18px;
    color: rgb(255, 108, 108);
}

.customer {
    font-size: 20px;
    color: rgb(255, 121, 121);
}

.customer span {
    font-size: 12px;
    color: rgb(8, 8, 8);
}


/* modal section  */

.width-modal {
    max-width: 1200px !important;
}

.h-modal {
    max-height: 500px !important;
}

.border-modal {
    border: 1px solid #0DCAF0 !important;
    border-top: none;
}

.w-90 {
    width: 100%;
}

.w-10 {
    width: 10%;
}

.share {
    border: 1px solid rgb(230, 230, 230);
    border-radius: 50%;
    padding: 8px 10px;
}


/* side navigation cart section  */

.cart {
    background-color: #FAE8E5;
    width: 350px;
    /* border: 1px solid green; */
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
}

.cart-main {
    padding-right: 30px;
}


/* responsive section  */

@media only screen and (min-width:1400px) {
    .product {
        height: 34rem;
        margin: 5px;
        padding: 5px;
    }
}

@media only screen and (max-width:1176px) {
    #all-products {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .product {
        height: 34rem;
        margin: 5px;
        padding: 5px;
    }
    .cart {
        width: 250px;
        /* border: 1px solid green; */
        padding: 10px;
        box-shadow: 10px 10px 20px gray;
        border-radius: 5px;
        margin-right: 30px;
        position: fixed;
        right: -35px;
    }
    .cart-main {
        padding-right: 10px;
    }
}

@media only screen and (max-width: 992px) {
    #all-products {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .cart {
        width: 250px;
        /* border: 1px solid green; */
        padding: 10px;
        box-shadow: 10px 10px 20px gray;
        border-radius: 5px;
        margin-right: 30px;
        position: fixed;
        right: -30px;
    }
    .product {
        height: 34rem;
        margin: 5px;
        padding: 5px;
    }
    .cart-main {
        padding-right: 10px;
    }
    .width-size {
        width: 100% !important;
    }
    .width-modal {
        height: 1000px;
    }
    .border-modal {
        height: 100%;
    }
}

@media only screen and (min-width:469px) and (max-width: 768px) {
    #all-products {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .cart {
        width: 250px;
        /* border: 1px solid green; */
        padding: 10px;
        box-shadow: 10px 10px 20px gray;
        border-radius: 5px;
        margin-right: 30px;
        position: fixed;
        right: -30px;
    }
    .cart-main {
        padding-right: 10px;
    }
    .width-size {
        width: 100% !important;
    }
    .width-modal {
        height: 100%;
    }
    .border-modal {
        height: 100%;
    }
}

@media only screen and (max-width: 468px) {
    #all-products {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .width-size {
        width: 100% !important;
    }
    .width-modal {
        height: 1000px;
    }
    .border-modal {
        height: 100%;
    }
}